.ico {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;


}



.icon-square {
    width: 100px;
    height: 100px;
    border-radius: 16px;
    background-color: #F2785C;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
